<nav class="navbar navbar-expand-lg bg-primary text-light">
  <a class="navbar-brand" >CRUD: Titulares (Fisica y Juridica)</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" (click)="toAdd()">Alta de titular<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" (click)="toList()">Lista de titulares</a>
      </li>
    </ul>
  </div>
</nav>


<div class="container">
  <div class="row justify-content-center">
  </div>
  <div class="row mb-3 justify-content-md-center">
    <div class="col-sm-8" *ngIf="update">
      <app-update [actualizarT]="actualizar" (listar)="toList()"></app-update>
    </div>
    <div class="col-sm-12" *ngIf="list">
      <app-list (actualizar)="toUpdate($event)"></app-list>
    </div>
    <div class="col-sm-8" *ngIf="create">
      <app-init></app-init>
    </div>
  </div>


  <div class="row mb-3 justify-content-md-center">
    <div class="col-12">
      <router-outlet></router-outlet>
    </div>
  </div>


</div>
