
<div *ngIf="isLoaded">
<div id="panel">
  <h2>ACTUALIZACIÓN</h2>

  <form (ngSubmit) = "onSubmit()">
    <table>

  <ng-container *ngIf="type ==1">
    <tr>
      <td>
        <label>RUT</label>
      </td>
      <td>
        <input type="text" id = "rut"
          [(ngModel)] = "fisicaUpdate.rut" name = "rut" [ngModelOptions]="{standalone: true}">
      </td>
    </tr>

    <tr>
      <td>
        <label>Nombre</label>
      </td>
      <td>
        <input type="text" id = "nombre"
        [(ngModel)] = "fisicaUpdate.nombre" name = "nombre" [ngModelOptions]="{standalone: true}">
      </td>
    </tr>

    <tr>
      <td>
        <label>Apellido</label>
      </td>
      <td>
        <input type="text" id = "apellido"
          [(ngModel)] = "fisicaUpdate.apellido" name = "apellido" [ngModelOptions]="{standalone: true}">
      </td>
    </tr>

    <tr>
      <td>
        <label>CC</label>
      </td>
      <td>
        <input type="number" id = "cc"
        [(ngModel)] = "fisicaUpdate.cc" name = "cc" max="199999" [ngModelOptions]="{standalone: true}">
      </td>
    </tr>
  </ng-container>

  <ng-container *ngIf="type == 2">

    <tr>
      <td>
        <label>RUT</label>
      </td>
      <td>
        <input type="text" id = "rut"
        [(ngModel)] = "juridicaUpdate.rut" name = "rut" [ngModelOptions]="{standalone: true}">
      </td>
    </tr>

    <tr>
      <td>
        <label> Razón Social</label>
      </td>
      <td>
        <input type="text" id = "razonSocial"
        [(ngModel)] = "juridicaUpdate.razonSocial" name = "razonSocial" [ngModelOptions]="{standalone: true}">
      </td>
    </tr>

    <tr>
      <td>
        <label> Año de fundación</label>
      </td>
      <td>
        <input type="number" id = "anioFundacion"
        [(ngModel)] = "juridicaUpdate.anioFundacion" name = "anioFundacion"
        min="1880" max="2021" step="1" value="2020" [ngModelOptions]="{standalone: true}"/>
      </td>
    </tr>

  </ng-container>



     <br>
    <button type ="submit">Actualizar</button>
  </table>
  </form>


  </div>
</div>