
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
h2,h1 {
  text-align: center;
}

.mat-row, .mat-header-row {
  height: auto !important;
}

.mat-cell {
  padding: 5px !important;
}
table.mat-table {
  width: 100% !important;
}
